
<div class="container">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">MusicBrainz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/artist" routerLinkActive="active">Last.fm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/favourites" routerLinkActive="active">Favourites</a>
          </li>
        </ul>
      </div>
    </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

